/* Cart Section Start */
#cart {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.cart-items__container {
    padding: .5rem;
}

.cart-box {
    overflow-x: auto;
    /* padding: .05rem; */
    margin: 1rem;
}

.cart-box table {
    width: 100%;
    min-width: 600px;
    text-align: center;
}

.cart-box tr:nth-child(2n) {
    background-color: #eee;

}

.cart-box table, .cart-box th, .cart-box td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: .5rem;
}

.cart-box th {
    background-color: #ccc;
    font-weight: 600;
}


.cart-box .img {
    max-width: 200px;
}

.cart-items__btn-box {
    text-align: center;
}

.quantity-box {
    border: 1px solid #ddd;
    max-width: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantity-box>* {
    flex: 1;
}

.quantity-box button {
    font-size: 1.15rem;
}

.quantity-box span {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.remove-btn{
    font-size: 1.15rem;
}
#cart .no-product-msg {
    text-align: center;
}


/* Cart Section End */