/* Hero Section Start */
#heroAbout {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), transparent), url("../media/images/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

#heroAbout .hero__container {
    height: 100%;
    display: flex;
    align-items: end;
}

.hero__container h1 {
    color: var(--white);
    margin-bottom: 2rem;
}

/* Hero Section End */





/* Review Section Start */
#clientReview {
    padding-bottom: 5rem;
}

#clientReview h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.review__container {
    height: 100%;
    width: 93%;
    max-width: 1000px;
    box-shadow: 0 0 5px 0 #ddd;
}

.review__container .cards {
    position: relative;
}

.review__container .card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
}


.review__container .card .client {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.review__container .card .client .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
}

.review__container .card .client .img img {
    height: 100%;
    object-fit: cover;
}

.review__container .card .client .info h4 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.review__container .card .client .info p {
    font-weight: 500;
    color: #bbb;
}

.review__container .card .comment {
    text-align: center;
}

/* Swiper JS CSS Start */
#clientReview .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

#clientReview .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bolder;
}

/* Swiper JS CSS End */


/* Review Section End */